.login
  .loginarea
    .logincenter
      .logintop
        %h2 ログイン画面
      .loginform  
        = form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f|
          .loginmail
            = f.label :メールアドレス
            %br/
            = f.email_field :email, autofocus: true,class: "formemail"
          .loginpass
            = f.label :パスワード
            %br/
            = f.password_field :password, autocomplete: "off",class: "formpass"
          .actions
            = f.submit "ログイン"
