.post    
  .postarea
    .postlink
      =link_to"投稿する", new_post_path,class: "newpost"
    = form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: "タイトルを検索する", class: "search-input"
      = form.submit "検索", class: "search-btn"  
    .list
      -@posts.each do |post| 
        =render partial: "post",locals: {post: post}
-# .post    
-#   .postarea
-#     .postlink
-#       =link_to"投稿する", new_post_path,class: "newpost"
-#     = form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form|
-#       = form.text_field :keyword, placeholder: "タイトルを検索する", class: "search-input"
-#       = form.submit "検索", class: "search-btn"  
-#     .list
-#       -@posts.each do |post| 
-#         .listbox
-#           .listboxarea
-#             .listinfo
-#               .select
-#                 .listshow
-#                   = link_to '参加する！', post_path(post.id)
-#                 -if user_signed_in? && current_user.id == post.user_id
-#                   .listedit
-#                     = link_to '編集', edit_post_path(post.id)
-#                   .listdelete  
-#                     = link_to '削除', post_path(post.id), method: :delete 
-#               .room
-#                 .roomtitle
-#                   ="タイトル: #{post.title}"
-#                 .roomgnere
-#                   ="種目: #{post.genre.name}"  
-#                 .roomexplain
-#                   ="詳細: #{post.text}"  
-#                 .roomname
-#                   ="投稿者: #{post.user.nickname}"  
-#             .like
-#               いいね      


            
            
