.post   
  .postarea  
    .commentsfield
      .commenttop
        ＜コメント募集！！＞
        .titlename
          %h2= @post.title
      
      .commentbox
        .commnetarea
          - if @comments
            - @comments.each do |comment|
              .commentinfo
                .commnetname
                  ="ユーザー名: #{comment.user.nickname}"
                .commentdate  
                  = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
                .commentcontent  
                  = comment.text    
      .form
        = form_with(model: [@post, @comment], local: true, id: "new_comment") do |form|
          = form.text_area :text, placeholder: "コメント投稿", rows: "2" ,class: "textbox"
          = form.submit "投稿", class: "form__submit"              